body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    /* 0 for top-bottom; auto for left right,makes centre aligned */
    margin: 0 auto;
    padding: 0 16px;
  
    display: flex;
    flex-direction: column;
    /* 100% of view hort (all browser)*/
    min-height: 100vh;
  }
  
.main-content {
    flex-grow: 1;
}