<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Cars Report</title>
</head>

<body>
  <img src="/img/logo.svg">
  <p>this is to be filled with javascript!</p>
  <p style="color:aqua;font-size:larger">{{message}}</p>


  <p>/* see how script is of type=module*/</p>
  <pre style="font-size: 1em" id="message-element"></pre>

  <div id="svg-element">

  </div>

  <script type="module" src="/js/bundle.js"></script>
</body>

</html>